body {
    background-color: #fff; 
}

.container {
    background-color: #fff9ee; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.button_add {
    bottom: 20px; 
    right: 20px; 
    margin: 0; 
    text-align: right;
    align-self: flex-end;
    padding: 10px 0;
}

.button_add a button {
    background-color: #7B573A; 
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 0;
}

.button_add a button:hover {
    background-color: #6b6863; 
}

.alert {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table thead {
    background-color: #fff9ee; 
}

.table thead th {
    padding: 10px;
    text-align: left;
}

.table tbody td {
    padding: 10px;
    border-top: 1px solid #fff9ee; 
    background-color: #fff9ee; 
}

.table > thead > tr > th {
    background-color: #fff9ee; 
}

.table tbody tr:hover {
    background-color: #e8e1d9; 
}

.table tbody a {
    color: #4285f4; 
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.table tbody a:hover {
    text-decoration: underline;
}

.table-responsive-sm {
    flex-grow: 1; 
}

@media (max-width: 768px) {
    .table-responsive-sm {
        overflow-x: auto; 
    }
}
