@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');

body {
	display: flex;
	justify-content: center;
	width: 100%;
}

.barbearia-profile-container {
	width: 70%;
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.background-image-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.background-image {
	background-color: gray;
	width: 90%;
	height: 22vh;
	border-radius: 8px;
}

.barbearia-header-container {
	display: flex;
	flex-direction: row;
	width: 90%;
	padding-inline: 5%;
}

.barbearia-logo-container {
	background-color: gray;
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

.barbearia-horario-container{
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.barbearia-nome {
	font-family: 'Abhaya Libre', serif;
	font-size: 40px;
	margin: 0px;
}
