{% extends 'base/header.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'agendamento/css/pedidos_gerenciar.css' %}">
{% endblock extra_css %}

{% block contentmenu %}
{% if usuario.dono_barbearia %}
  {% include 'base/menu_barbearia.html' %}
{% else %}
  {% include 'base/menu_usuario.html' %}
{% endif %}
{% endblock contentmenu %}

{% block content %}

<main>
	<div class="main-container">
		<div class="page-top-container">
			<div class="page-title-container">
				<h1> Hoje </h1>
				<h3> {{ dia_semana}}, {{ dia }} </h3>
			</div>
		</div>
		<div class="page-content-container">
			<div class="pedidos-container">
				<div class="pedidos-container-title">
					<h2> Agendamentos pendentes </h2>
				</div>
				<div class="pedidos-content-container">
					{% for pedido in object_list %}
						{% if not pedido.aprovado %}
							<div class="pedido-container">
								<div class="pedido-info-container">
									<p><b>{{ pedido.cliente }}</b></p>
									<p>{{ pedido.servico.nome }}</p>
									<p>{{ pedido.dia_semana }}, {{ pedido.dia }}</p>
								</div>
								<div class="pedido-info-container">
									<p>{{ pedido.hora_inicio }} - {{ pedido.hora_fim }}</p>
									{% if pedido.aprovado %}
										<p>Aprovado</p>
									{% else %}
										<p>Pendente</p>
									{% endif %}
								
								{% csrf_token %}
								<button data-pedido-id="{{ pedido.id }}" data-update-url="{% url 'agendamento:gerenciar_pedidos' barbearia.pk %}" class="approve approve-button">Aprovar</button>
						</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="pedidos-container">
				<div class="pedidos-container-title">
					<h2> Agendamentos aprovados </h2>
				</div>
				<div class="pedidos-content-container">
					{% for pedido in object_list %}
						{% if pedido.aprovado %}
							<div class="pedido-container">
								<div class="pedido-info-container">
								<p><b>{{ pedido.cliente }}</b></p>
								<p>{{ pedido.servico.nome }}</p>
								<p>{{ pedido.dia_semana }}, {{ pedido.dia }}</p>
								</div>
								<div class="pedido-info-container">
								<p>{{ pedido.hora_inicio }} - {{ pedido.hora_fim }}</p>

								{% if pedido.aprovado %}
									<p>Aprovado</p>
								{% else %}
									<p>Pendente</p>
								{% endif %}
								
								{% csrf_token %}
								<button data-pedido-id="{{ pedido.id }}" data-update-url="{% url 'agendamento:gerenciar_pedidos' barbearia.pk %}" class="cancel approve-button">Cancelar</button>
						</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function(){
		$('.approve-button').click(function() {
			function getCookie(name) {
				let cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					const cookies = document.cookie.split(';');
					for (let i = 0; i < cookies.length; i++) {
						const cookie = cookies[i].trim();
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			const csrftoken = getCookie('csrftoken');
			
			const pedidoId = $(this).data('pedido-id');
			const updateUrl = $(this).data('update-url');
			$.ajax({
				url: updateUrl,
				method: 'POST',
				headers: {'X-CSRFToken': csrftoken},
				data: { pedido_id: pedidoId },
				mode: 'same-origin',
				success: function(response){
					if (response.error) {
						alert(response.error);
					} else {
						location.reload();
					}
				}
			})
		}) 
	})
</script>
{% endblock content %}


