 {% extends 'base/header.html' %}

{% block title %}Editar Serviço{% endblock title %}

{% block extra_css%}
        <link rel="stylesheet" type="text/css" href="{% static 'barbearia/css/stylehomebarb.css' %}">
{% endblock extra_css %}

{% block contentmenu %}
{% if request.user.dono_barbearia %}
  {% include 'base/menu_barbearia.html' %}
{% else %}
  {% include 'base/menu_usuario.html' %}
{% endif %}
{% endblock contentmenu %}

{% block content %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
{% endblock content %}