{% extends 'base/header.html' %}
{% load static %}

{% block title %}Cadastrar Serviços{% endblock title %}
{% block extra_css %}
    <link href="{% static 'agendamento/css/servicocad.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
{% csrf_token %}
  <div class="main-container">
    <div class="title-container">
       <span class="title">Serviços</span>
     </div>
        {% csrf_token %}
    <div class="dados-container-container">
      {{ form.as_p }}
      <div class="cadastrar-buttom-container">
        <button class="bottoment" type="submit">Cadastrar</button>
      </div>
    </div> 

  </div>
{% endblock content %}
