.agenda-container{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

table, th, td {
	border: 1px solid black;
}

.cell-content-container{
	border: 1px solid black;
	padding: 5px;
}

.cell-container{
	display: flex;
	flex-direction: column;
	gap: 3px;
}
