<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/usuarios/css/style.css">
    <title>Nova senha</title>
</head>
<body>
    <div class="container">
        <form  method="POST">
            <div class="centro-pass">
                {% csrf_token %}  
                <div class="barb">BarberEase</div>
                <div class="find">Encontre o melhor salão para você!</div>
                <p class="box-title">Nova senha:</p>
                
                <div class="form-input-container">
                    <label  class="label" for="password">Senha:
                    <div class="form-control-container">    
                        <input class="form-control"  type="password" name="password"  required>
                    </div>
                    </label>
                    <label  class="label" for="Confirmpassword">Confirme a senha:
                        <div class="form-control-container">
                            <input class="form-control" type="password" name="ConfirmPassword" required>
                        </div>
                    </label>
                
                    <div class="form-button-container" style="margin-top: 10px;">
                        <input  class="bottoment"  type="submit" value="Redefinir">
                    </div> 
                    <div style="display: flex;">
                        {{ form.password.errors }}
                        {{ form.ConfirmPassword.errors }}
                        {% if mensagem %}
                        <p>{{ mensagem }}</p>
                        {% endif %}

                        {% if mensagemLoginSucesso %}
                            <p>{{ mensagemLoginSucesso }}</p>
                            <script>
                                setTimeout(function(){
                                    window.location.href = "{% url 'usuario:login' %}";
                                },3000)
                            </script>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>