<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="
    display: block;
    height: 45px;
    flex-shrink: 0;
    color: #000;
    line-height:1.1;
    text-shadow:
    -0.5px -0.5px 0 #000, 
    0.5px -0.5px 0 #000, 
    -0.5px 0.5px 0 #000, 
    0.5px 0.5px 0 #000;
    font-family: Abhaya Libre ExtraBold;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    margin: 10px 0px 0px 0px;">
    BarberEase</h1>

    <h2 style="
    display: block;
    color: #7E5638;
    font-family: Kanit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;">
    Encontre o melhor salão para você!</h2>
     
    <form  method="POST">
        {% csrf_token %}  
        
        <label for="password"></label>
        <input type="password" name="password" placeholder="Senha" required>
        {{ form.password.errors }}
        
        <label for="Confirmpassword"></label>
        <input type="password" name="ConfirmPassword" placeholder="Confirme a senha" required>
        {{ form.ConfirmPassword.errors }}
        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}
        <input type="submit" placeholder = "Troca senha">
    </form>
</body>
</html>