{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleclient.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

			<form method="POST">
				<div class="centro">
          {% csrf_token %}    
					<div class="barb">BarberEase</div>
					<div class="find">Encontre o melhor salão para você!</div>
					<p class="box-title">Cadastre-se:</p>

					<div class="form-input-container">
						<div class="field-container">
							<label class="label">Nome:
								<div class="form-control-container">
                  {{ form.nome | add_class:"form-control" }}
                  {% if form.nome.errors %}
                    <div class="error">
                      {{ form.nome.errors }}
                    </div>
                {% endif %}
								</div>
							</label>
						</div>

						<div class="field-container">
							<label class="label">Sobrenome:
								<label class="label-comp">(opcional)</label>
								<div class="form-control-container">
									{{ form.sobrenome | add_class:"form-control" }}
                  {% if form.sobrenome.errors %}
                  <div class="error">
                    {{ form.sobrenome.errors }}
                  </div>
                {% endif %}
								</div>
							</label>
						</div>
					
						<div class="field-container">
							<label class="label">E-mail:
								<div class="form-control-container">
                  {{ form.email | add_class:"form-control" }}
                  {% if form.email.errors %}
                  <div class="error">
                    {{ form.email.errors }}
                  </div>
                {% endif %}
								</div>
							</label>
						</div>

						<div class="field-container">
							<label class="label">Senha:
								<div class="form-control-container">
                  {{ form.password | add_class:"form-control" }}
                  {% if form.password.errors %}
                  <div class="error">
                    {{ form.password.errors }}
                  </div>
                {% endif %}
								</div>
							</label>
						</div>

						<div class="field-container">
							<label class="label">Confirme a senha:
								<div class="form-control-container">
                  {{ form.password2 | add_class:"form-control" }}
                  {% if form.password2.errors %}
                    <div class="error">
                      {{ form.password2.errors }}
                    </div>
                  {% endif %}
								</div>
							</label>
						</div>
					</div>	
					<div class="form-button-container">
						<input class="bottoment" type="submit" value="Cadastrar"/>
					</div>
					<div class="box-end">Cadastre-se como
						<a href="#" class="barb-sigin">
							barbearia
						</a>
			        </div>
              {% get_providers as socialaccount_providers %}
              <div class="bottomgg" id="googleButton">
                <a href="{% provider_login_url 'google' %}" class="google-login-button">
                  Fazer login com o Google
                </a>
              </div>
				</div>   
			</form>
	</div>

</body>
</html>




