
{% extends 'base/header.html' %}

{% block title %}Apagar Conta{% endblock title %}

{% block contentmenu %}
{% if request.user.dono_barbearia %}
  {% include 'base/menu_barbearia.html' %}
{% else %}
  {% include 'base/menu_usuario.html' %}
{% endif %}
{% endblock contentmenu %}

{% block content %}
<body>
    <form method="post">
        {% csrf_token %}
        {% if request.user.dono_barbearia %} 
            <h1>Voce vai apagar sua conta de barbearia também</h1>
        {% endif %}
		<h1>Voce deseja apagar sua conta "{{ request.user.nome }}"?</h1>
        <a href="{% url 'usuario:perfil' pk=request.user.pk %}">cancelar</a>
        <input type="submit" value="Excluir">
</form>
</body> 
</html>

{% endblock content %}
