#sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -300px; 
  width: 300px;
  background-color: #FFFFFF;
  transition: left 0.3s ease-in-out; 
  padding-top: 1.3rem; 
}

#sidebar.open {
  left: 0; 
}

#sidebarCollapse {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001; 
}

.custom-bg-color {
  background-color: #DDCEBE;
  height: 100px; 
}

.custom-btn-color {
  background-color: #DDCEBE;
}

p.nome {
  font-size: 28px;
  font-family: "Abhaya Libre ExtraBold";
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
}

.navbar-brand{
  font-size: 48px;
  font-family: "Abhaya Libre ExtraBold";
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  width: 450px;
  height: 61px;
}

a.navbar-brand{
  outline: none;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

.itens{
  font-size: 15px;
  font-family: "Kanit";
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 20px;
}

.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 200ms;
  padding-left: 0.5rem;
}

.item:hover{
  background-color: #f5efe9;
}

.texto {
  width: 100%;
}

.side-bar-buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50%;
  height: 100%;
}

.side-bar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.side-bar-anaflavia {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.7rem;
  justify-content: space-between;
}

.side-bar-button {
  outline: none;
  text-decoration: none;
}

.button-container {
  display: flex;
  align-items: center;
}

.side-bar-logout-container {
  padding: 0.7rem;
}


