{% extends 'base/header.html' %}

{% block title %}Listagem Barbeiros{% endblock title %}

{% block contentmenu %}
{% if usuario.dono_barbearia %}
  {% include 'base/menu_barbearia.html' %}
{% else %}
  {% include 'base/menu_usuario.html' %}
{% endif %}
{% endblock contentmenu %}

{% block content %}
<div class="container">
	<div class="button_add">
		<a href="{% url 'barbearia:cadastrar_barbeiro' %}">
		<button class="btn btn-primary">
			Adicionar Barbeiro
		</button>
		</a>
	</div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" id="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for barbeiro in barbeiros %}
                <tr>
                    <td>{{ barbeiro.nome }}</td>
                    <td>{{ barbeiro.email }}</td>
                    <td>
                        <a href="{% url 'barbearia:editar_barbeiro' pk=barbeiro.pk %}">Editar</a>
                        <a href="{% url 'barbearia:deletar_barbeiro' pk=barbeiro.pk %}">Excluir</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Sem barbeiros cadastrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    // TODO: remover alerta após 3 segundos fazer isso dar certoooo
        $('.alert').fadeOut('fast')
</script>

</div>
{% endblock content %}
