

  <!DOCTYPE html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
  <meta charset="UTF-8" />
  <title>Cadastro Responsavel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
      <div id="cadastro">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit"></input>
        </form>
      </div>
</body>
</html>

