{% extends 'base/header.html' %}

{% load static %}
{% block title %}Home{% endblock title %}

{% block extra_css%}
        <link rel="stylesheet" type="text/css" href="{% static 'barbearia/css/stylehomebarb.css' %}">
{% endblock extra_css %}

{% block contentmenu %}
{% if usuario.dono_barbearia %}
  {% include 'base/menu_barbearia.html' %}
{% else %}
  {% include 'base/menu_usuario.html' %}
{% endif %}
{% endblock contentmenu %}

{% block content %}

<body>
    <div class="main-container">
         <div class="agenda-dia-container">
            <span class="agenda-dia">Hoje</span>
          </div>
          <div class="agenda-data-container">
            <span class="agenda-data">Dia 12/12</span>
          </div>
          <div class="agenda-container-coluna">
              <div class="agenda-container-container">
                <div class="agenda-nome-container">
                  <span class="agenda-nome">Aprovados</span>
                </div>
                <div class="agenda-qtd-container">
                  <span class="agenda-qtd">6</span>
                </div>
                <div class="img-container">
                  <div class="img"></div>
                </div>
              </div>
              <div class="agenda-container-container">
                <div class="agenda-nome-container">
                  <span class="agenda-nome">Pendentes</span>
                </div>
                <div class="agenda-qtd-container">
                  <span class="agenda-qtd">10</span>
                </div>
                <div class="img-container">
                  <div class="img"></div>
                </div>
              </div>
          </div>
                <div class="agendamento-container-container">
                    <div class="agendamento-top-container">
                        <div class="agendamento-titulo-container">
                            <span>Próximo horário:</span>   
                        </div>
                    </div>
                    <div class="agendamento-centro-container">
                        <div class="logo-container">
                                <img src="{% if agendamento.barbearia.logo %} {{agendamento.barbearia.logo.url}} {% endif %}" alt="{{ agendamento.barbearia.nome }} logo" class="logo">
                        </div>
                        <div class="agendamento-info-container">
                            <div class="agendamento-nome-container">
                                <span class="agendamento-nome">Barbearia Fera da Ana</span>
                            </div>
                            <div class="agendamento-address-container">
                                <span class="agendamento-address">Quadra 804 Sul Lote 40</span>
                            </div>
                        </div>
                        <div class="agendamento-data-hora-container">
                            <div class="agendamento-data-container">
                                <span> {{ agendamento.data }}</span>
                            </div>
                            <div class="agendamento-hora-container">
                                <span>{{ agendamento.hora }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="agendamento-buttom-container">
                            <input class="bottoment" type="submit" value="Ver seguintes"/> 
                    </div>
               
        </div>
  
    </div>
{% endblock content %}
</html>
</body>
