{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/perfil_barbearia.css' %}">
</head>
<body>
	{{ barabearia.nome  }}
		<div class="barbearia-profile-container">
			<div class="background-image-container">
				<div class="background-image">
				</div>
			</div>
			<div class="barbearia-header-container">
				<div class="barbearia-logo-container">
					<div class="barbearia-logo">
					</div>
				</div>
				<div class="barbearia-info-container">
					<div class="barbearia-nome-container">
						<p class="barbearia-nome"> Barbearia do Gabriel </p>
					</div>
					<div class="barbearia-horario-container">
						<p class="barbearia-horario-bool"> Aberto agora </p>
						<p class="barbearia-horario-fechamento">  • Fecha às 18h </p>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
