{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/perfil_barbearia.css' %}">
</head>
<body>
		<div class="barbearia-profile-container">
			<div class="background-image-container">
				<div class="background-image">
				</div>
			</div>
			<div class="barbearia-header-container">
				<div class="barbearia-logo-container">
					<div class="barbearia-logo">
					</div>
				</div>
				<div class="barbearia-info-container">
					<div class="barbearia-nome-container">
						<div class="barbearia-nome">
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
