{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
		<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/style.css' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
			<form method="POST">
				<div class="centro">
					{% csrf_token %}

					<div class="barb">BarberEase</div>
					<div class="find">Encontre o melhor salão para você!</div>
					<p class="box-title">Faça seu login:</p>

					<div class="form-input-container">
						<div class="field-container">
							<label class="label">E-mail:
								<div class="form-control-container">
									{% render_field form.username class="form-control" placeholder="Digite seu e-mail"%}
								</div>
							</label>
						</div>

						<div class="field-container">
							<label class="label">Senha:
								<div class="form-control-container">
								{% render_field form.password class="form-control" placeholder="Digite sua senha"%}
								</div>
							</label>
					</div>
					<div class="box-pass">
					  <a href="{% url 'usuario:redefinir' %}">
						Esqueceu sua senha?
					  </a>
					</div>
					{% get_providers as socialaccount_providers %}
					<div class="form-button-container">
						<div class="bottomgg" id="googleButton">
							<a href="{% provider_login_url 'google' %}" class="google-login-button">
								Fazer login com o Google
							</a>			
						</div>

						<input class="bottoment" type="submit" value="Entrar"/>

						<div class="box-end">Cadastre-se como
							<a href="{% url 'usuario:cadastro' %}" class="client-sigin">
								cliente
							</a>
							ou como
						    <a href="{% url 'barbearia:cadastrar_dono' %}" class="barb-sigin">
							profissional
						    </a>
			            </div>
					</div>   
			</form>
	</div>

</body>
</html>
